body {
    margin: 16px 0;
    font-size: 14px;
    background-color: #c4c1a0; /* Pantone 453 */
    font-family: sans-serif;
}

:global(.full-page) {
    background: black;
}

button, a[role="button"] {
    background: #44372C;
    color: #fff;
    padding: 2px 8px;
    border: 1px outset #66594E;
    border-radius: 3px;
    font-size: 15px;
    min-width: 75px;
}

button:hover, a[role="button"]:hover {
    background-color: #55473D;
    border: 1px outset #66594E;
}

button:active, a[role="button"]:active  {
    background-color: #22150A;
    border: 1px outset #44372C;
}

button:focus, a[role="button"]:focus  {
    outline: none;
}

a[role="button"] {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}
