:global(.full-page) {
    background: black;
}

.container {
    font-size: 14px;
    font-family: sans-serif;
    line-height: normal;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
