.khz {
    margin-right: 4px;
    overflow: hidden;
    padding: 4px;
    font-family: Courier, monospace;
    font-size: 12px;
    width: 60px;
    height: 15px;
    text-align: right;
    background: #000;
    color: #0f0;
    border: 2px inset #888;
    border-radius: 4px;
    user-select: none;
}
