.debugger pre {
    font-size: 9px;
    background: white;
    color: black;
    padding: 3px;
    margin: 2px;
    border: 1px inset;
}

.debugger {
    font-size: 12px;
}

.debugger button,
.debugger input {
    font-size: 12px;
}

.debugger input[type="text"] {
    border: 1px inset;
}

.debugger hr {
    color: #c4c1a0;
}

.inset {
    margin: 5px 10px 0;
    width: auto;
}

.heading {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.controls {
    padding: 3px 0;
    margin: 2px 0;
}

.subHeading {
    font-weight: bold;
    font-size: 12px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.zeroPage {
    width: 50em;
}

.trace {
    width: 50em;
}

.stack {
    width: 10em;
}

.fileChooser {
    padding: 5px 0;
}
