.keyboard {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    user-select: none;
}

:global(.apple2e) .keyboard {
    margin-left: 0;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 42px;
    font-family: Helvetica, sans-serif;
    width: 570px;
}

:global(.apple2e) .row {
    width: 610px;
}

.row0 {
    margin-left: 20px;
}

.row2 {
    margin-left: 10px;
}

.row3 {
    margin-left: 10px;
}

.row4 {
    margin-left: 10px;
}

:global(.apple2e) .row0 {
    margin-left: 0;
}

:global(.apple2e) .row2 {
    margin-left: 0;
}

:global(.apple2e) .row3 {
    margin-left: 0;
}

:global(.apple2e) .row4 {
    margin-left: 0;
}

:global(.pravetz82) .row0 {
    margin-left: 0px;
}

:global(.pravetz82) .row1 {
    margin-left: -14px;
}

:global(.pravetz82) .row2 {
    margin-left: 0px;
}

:global(.pravetz82) .row3 {
    margin-left: 15px;
}

:global(.pravetz82) .row4 {
    margin-left: 0px;
}

.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    background-color: #44372c;
    color: white;

    /* border: 5px outset #66594E; */
    border-left: 5px solid #65594d;
    border-top: 5px solid #65594d;
    border-right: 5px solid #110e0d;
    border-bottom: 5px solid #110e0d;

    border-radius: 5px;
    cursor: pointer;

    &.active {
        color: #4f4;
    }

    .small {
        font-size: 7px;
    }
}

.twoSymbol {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.pressed {
    background-color: #22150a;
    border-left: 5px solid #44372c;
    border-top: 5px solid #44372c;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;

    /* border: 5px outset #44372C; */
}

.key-RETURN {
    width: 52px;
}

.key-DELETE {
    width: 47px;
}

.key-TAB {
    width: 47px;
}

.key-POWER {
    width: 38px;
    height: 38px;
    border: 2px groove black;
    background-color: #ffd;
    color: black;
    border-radius: 2px;
}

.key-nbsp {
    margin-left: 62px;
    width: 330px;
}

:global(.apple2e) .key-CTRL {
    width: 60px;
}

:global(.apple2e) .key-RETURN {
    width: 60px;
}

.key-SHIFT {
    width: 53px
}

:global(.apple2e) .key-SHIFT {
    width: 81px;
}

:global(.apple2e) .key-nbsp {
    margin-left: 0;
    width: 215px;
}

:global(.pravetz82) .key-RST {
    border-left-color: #d00;
    border-top-color: #d00;
    border-right-color: #700;
    border-bottom-color: #700;
    background-color: #a00;
}

:global(.pravetz82) .key-RST:active {
    border-left-color: #800;
    border-top-color: #800;
    border-right-color: #000;
    border-bottom-color: #000;
    background-color: #500;
}

:global(.pravetz82) .key-ОСВ,
:global(.pravetz82) .key-МК {
    border-left-color: #aaa;
    border-top-color: #aaa;
    border-right-color: #444;
    border-bottom-color: #444;
    background-color: #777;
}

:global(.pravetz82) .key-ОСВ:active,
:global(.pravetz82) .key-МК:active {
    border-left-color: #777;
    border-top-color: #777;
    border-right-color: #000;
    border-bottom-color: #000;
    background-color: #333;
}

:global(.pravetz82) .key-ЛАТ {
    border-left-color: #ddd;
    border-top-color: #ddd;
    border-right-color: #888;
    border-bottom-color: #888;
    background-color: #bbb;
}

:global(.pravetz82) .key-ЛАТ:active {
    border-left-color: #888;
    border-top-color: #888;
    border-right-color: #222;
    border-bottom-color: #222;
    background-color: #999;
}

:global(.pravetz82) .key-ЛАТ2 {
    border-left-color: #dd0;
    border-top-color: #dd0;
    border-right-color: #880;
    border-bottom-color: #880;
    background-color: #aa0;
}

:global(.pravetz82) .key-ЛАТ2:active {
    border-left-color: #770;
    border-top-color: #770;
    border-right-color: #000;
    border-bottom-color: #000;
    background-color: #550;
}

.key-POW {
    width: 38px;
    height: 38px;
    border: 2px groove black;
    background-color: #ffd;
    color: black;
    border-radius: 2px;
    justify-content: center;

    div {
        background: #4f4;
        color: #4f4;
    }
}

.key-OPEN_APPLE {
    background-image: url('../../../img/open-apple24.png');
    background-position: center;
    background-repeat: no-repeat;

    div {
        display: none;
    }

    &.active {
        background-image: url('../../../img/open-apple24-green.png');
    }
}

.key-CLOSED_APPLE {
    background-image: url('../../../img/closed-apple24.png');
    background-position: center;
    background-repeat: no-repeat;

    div {
        display: none;
    }

    &.active {
        background-image: url('../../../img/closed-apple24-green.png');
    }
}
