.controls {
    padding: 3px 0;
    margin: 2px 0;
}

.zeroPage {
    width: 53em;
}

.trace {
    width: 53em;
}

.stack {
    width: 10em;
}

.fileChooser {
    padding: 5px 0;
}

.invalid {
    color: #f00;
}

.errorIcon {
    position: relative;
    display: inline-block;

    i {
        position: absolute;
        top: -9px;
        left: -16px;
    }
}
